<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <div>
        <h1>Lista de Productos</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Id_cliente</th>
                    <th>Id_oficina</th>
                    
                </tr>
            </thead>
            <th:block th:each="producto : ${productos}">
                <tr>
                    <td th:text="${producto.id}"></td>
                    <td th:text="${producto.fecha}"></td>
                    <td th:text="${producto.id_cliente}"></td>
                    <td th:text="${producto.id_oficina}"></td>
                    
                    <td>
                        <a th:href="@{productos/{id}/edit(id=${producto.id})}">Editar</a>
                        <a th:href="@{productos/{id}/delete(id=${producto.id})}"
                            onclick="return confirm('¿Estás seguro de borrar este producto?')">Borrar</a>
                    </td>
                </tr>
            </th:block>
        </table>
    <div>
        <a th:href='@{/}' class="btn btn-primary">Volver Atrás</a>
    </div>

    </div>
</body>
</html>